<%- include("templates/header") %>
<%- include("templates/userinfobar", {username: username}) %>

<h1>Your Chats</h1>
<h3>You are part of <%= numOfRooms %> chats</h3>
<a href="/loggedin/create-room">Create Room</a>

<div>
    <ul>
        <% for (let room of rooms) { %>
            <li>
                <div>
                    <div>
                        <p><%= room.name %></p>
                    </div>
                    <div>
                        <p>message</p>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include("templates/footer") %>