<%- include("templates/header") %>
<%- include("templates/userinfobar", {username: username}) %>

<h1>Your Chats</h1>
<h3>You are part of <%= numOfRooms %> chats</h3>
<a href="/loggedin/create-room">Create Room</a>

<div>
    <ul>
        <% for (let room of roomData) { %>
            <li>
                <div>
                    <div>
                        <a href="/loggedin/room?id=<%= room.room_id %>"><%= room.name %></a>
                        <p><%= room.unread_message_count %> unread messages</p>
                    </div>
                    <div>
                        <p><%= room.last_message_content %> - <b><%= room.last_message_sender %></b></p>
                        <p><%= room.last_message_send_time %></p>
                    </div>
                </div>
            </li>
        <% } %>
    </ul>
</div>

<%- include("templates/footer") %>