<%- include("templates/header") %>
<%- include("templates/userinfobar", {username: username}) %>

<h1><%= room.name %></h1>
<a href="/loggedin/invite-users?id=<%= room.room_id %>">Invite Users</a>
<a href="/loggedin/home">Return Home</a>
<br>
<div>
    <% for (let message of messages) { %>
        <p>
            <div>
                <p>
                    <b><%= message.username %></b>
                    <%= message.send_time %>
                </p>
                <div class="message-content">
                    <p>
                        <%= message.content %>
                        <span>
                            <% for (let emoji of allEmojis) { %>
                                <a class="add-emoji" href="/loggedin/add-emoji?roomID=<%=room.room_id%>&messageID=<%=message.message_id%>&emojiID=<%=emoji.emoji_id%>">(<span><img class="emoji" src="/imgs/<%=emoji.image%>" alt="<%=emoji.name%>"></span>)</a>
                            <% } %>
                        </span>
                    </p>
                    <% for (let emoji of emojis) { %>
                        <% if (emoji.message_id === message.message_id) { %>
                            <img class="emoji" src="/imgs/<%= emoji.image %>" alt="<%= emoji.name %>">
                        <% } %>
                    <% } %>
                    </div>
            </div>
        </p>
    <% } %>
</div>
<form action="/loggedin/send-message?id=<%= room.room_id %>" method="post">
    <input type="text" name="message" placeholder="Enter a message">
    <input type="submit" value="Send Message">
</form>

<%- include("templates/footer") %>